# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/selfcare-contributors @empassaro @flaminiaScarciofolo @PlMuraNTT @SimoneMartelliNTTD @BaldiVi @KevinSi96 @SalvatorManna @fedcuo @esignore @manuraf
